/* General Header Styling */
header {
    width: 100%;
    background-color: var(--color-component-background);
    box-shadow: 0 2px 4px var(--color-shadow);
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 50;
}

/* styling for the FontAwesome Icons */
svg {
    color: var(--color-text);
}

/* Centering the content inside the header */
.header-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

/* Styling for the brand logo */
#brand-logo {
    color: var(--color-text-logo); /* Equivalent to Tailwind's text-indigo-800 */
    letter-spacing: 0.05em;
    text-align: center;
    font-family: var(--font-logo);
    font-size: clamp(1.75em, 2em + 4vw, 3.5em);
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 0.25rem;
}

/* Button Styling */
nav button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

nav button p {
    display: none;
}

/* Vertical Divider */
.nav-divider {
    width: 1px;
    background-color: var(--color-nav-divider); /* Equivalent to Tailwind's bg-gray-400 */
}

/* Show button text on larger screens */
@media (min-width: 500px) {
    nav button p {
        display: inline;
    }
}


  